---
import type { CollectionEntry } from "astro:content";
import Image from 'astro:assets';
import FormattedDate from "@/components/FormattedDate.astro";
import type { HTMLTag, Polymorphic } from "astro/types";

type Props<Tag extends HTMLTag> = Polymorphic<{ as: Tag }> & {
    post: CollectionEntry<"post">;
    withDesc?: boolean;
    forPage?: "index" | "posts";
};

const { as: Tag = "div", post, withDesc = false, forPage: string = "index" } = Astro.props;
const postImage = post.data.image || post.data.cover || post.data.thumbnail || post.data.ogImage;
---

<div class={withDesc ? "flex flex-col" : "flex flex-col sm:flex-row sm:items-center sm:justify-between"}>
    {!withDesc ? (
        <>
            {false&& postImage && (
                <a href={`/posts/${post.id}/`} class={`block mr-4 shrink-0 w-20 h-20 rounded-lg overflow-hidden bg-gray-100 ${forPage ==="posts" ? 'text-xl': ''}`}>
					{/* <Image width={48} height={48} src={postImage} alt={post.data.title} class="object-cover w-full h-full" loading="lazy" /> */}
                </a>
            )}
            <div class="flex flex-row flex-1">
                <Tag class="citrus-link font-medium text-accent-base md:line-clamp-1">
                    <a data-astro-prefetch href={`/posts/${post.id}/`}>
                        {post.data.draft && <span class="text-red-500">(Draft) </span>}
                        {post.data.title}
                    </a>
                </Tag>
                <FormattedDate
                    class="shrink-0 flex-1 text-lighter text-sm sm:text-right"
                    date={post.data.publishDate}
                    dateTimeOptions={{
                        year: "numeric",
                        month: "long",
                        day: "2-digit",
                    }}
                />
            </div>
        </>
    ) : (
        <>
            {false&& postImage && (
                <a href={`/posts/${post.id}/`} class={`block mb-2 w-40 h-40 rounded-lg overflow-hidden bg-gray-100 ${Astro.props.forPage === "posts" ? 'text-xl': ''}`}>
					{/* <Image width={48} height={48} src={image.src} alt={post.data.title} class="object-cover w-full h-full" loading="lazy" /> */}
                </a>
            )}
            <FormattedDate
                class="text-sm shrink-0 text-lighter"
                date={post.data.publishDate}
                dateTimeOptions={{
                    year: "numeric",
                    month: "long",
                    day: "2-digit",
                }}
            />
            <Tag class="citrus-link font-medium text-accent-base mt-2.5">
                <a data-astro-prefetch href={`/posts/${post.id}/`} class={`${Astro.props.forPage === "posts" ? 'text-xl': ''}`} 	>
                    {post.data.draft && <span class="text-red-500">(Draft) </span>}
                    {post.data.title}
                </a>
            </Tag>
            {post.data.description && (
                <p class="mt-0.5 text-sm text-gray-600 line-clamp-2">{post.data.description}</p>
            )}
        </>
    )}
</div>
